.sk-font {
  position: relative;
  color: #c6c5c5;
  width: 100%;
}

.sk-font-s {
  font-family: "TheSeasons";
  line-height: 1;
  font-size: 500px;
}
.sk-font-k {
  font-family: "TheSeasons";
  font-size: 250px;
  line-height: 1;
  position: absolute;
  right: 0;
  bottom: 40px;
}
