@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

html {
  height: 100%;
}

body {
  color: #2b2c30;
  background: #fdf7f0;
  height: 100%;
}
