@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");

html {
  height: 100%;
}

body {
  color: #2b2c30;
  background: linear-gradient(
    85deg,
    rgba(255, 255, 255, 1) 36%,
    rgba(217, 217, 217, 1) 60%
  );

  height: 100%;
  font-family: "Playfair Display", serif;
}

p {
  font-family: "Cormorant Garamond", serif;
}
